@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@layer base {
  a {
    @apply text-nav-default hover:text-nav-hover active:text-nav-active;
  }

  body {
    @apply bg-primary text-primary font-sans;
    overflow-x: hidden;
  }
}

@layer components {
  .btn-primary {
    @apply bg-btn-primary hover:bg-btn-primary-hover
  }
}


.events-swiper {
  overflow: visible !important;
  padding-bottom: 60px !important; 
  
}


.events-swiper .swiper-pagination {
  bottom: -40px; 
  position: absolute;
  width: 100%;
}




.events-swiper .swiper-slide {
 
  z-index: 1;
  
}

.events-swiper .swiper-slide-active {

  opacity: 1;
  z-index: 10;
  
}


.events-swiper .swiper-pagination-bullet {
  background: #02369B;
}